{% extends 'mainapp/base.html' %} {% block content %}
<div class="homepagecontainer">
<h1> Welcome to <a href="/create_gpx/">GPX Coverter</a>!</h1>
<p class="top">We strive to provide you with a seamless and efficient way to navigate your surroundings using your smartwatch or GPS device. Our platform is designed to assist walkers and cyclists in finding the most time-efficient routes from a starting point to a destination, while also providing up-to-date directions that include information about street closures and congestion.</p>
<p>Our service stands out with the integration of real-time information and the powerful Google Maps direction engine. By utilising Google Maps, we ensure accurate and reliable directions that surpass other GPS navigation services.</p>
<p>To <a href='/create_gpx/'>get started</a>, simply enter your desired start and end locations, select your preferred mode of transport (walking or cycling), and click the "Generate GPX" button. You will then be prompted to download the GPX file, which can be easily transferred to your smartwatch for navigation.</p>
<p>To get started, enter your locations and mode of transport, then click the "Generate GPX" button. Download the GPX file, transfer it to your smartwatch, and enjoy reliable navigation even without internet access.</p>
<p class="bottom">If you have any questions or need further assistance, please don't hesitate to contact our lead developer. <a href="mailto:williambloomfield71@hotmail.co.uk?subject=GPXConverter">Will</a>.</p>
</div>
{% endblock %} ```
